In [1]:
pwd

u'/Users/jfdarre/Documents/NYCDS/Project4/KaggleProject'

## Data munging starts: 
### Importing packages and data

In [95]:
import datetime
import numpy as np
from numpy import double
import pandas as pd

In [96]:
print("Loading data start...")
# train and test set provided by Rossmann
train = pd.read_csv("input/train.csv")
test = pd.read_csv("input/test.csv")
print("Complete!")

Loading data start...
Complete!   : )

In [132]:
print("Loading data start...")
# external data
store = pd.read_csv("input/store.csv")
states = pd.read_csv("input/store_states.csv")
eco_data = pd.read_csv("input/economic_data.csv")
print("Complete!")

Loading data start...
Complete!

## Data munging part I:
### Clean up, merges and dates features

In [97]:
# 1: Impute Open = 1 for store 622 in test data
test['Open'].fillna(1, inplace=True)
print 'Step 1 Complete.'

Step 1 Complete.

In [98]:
# 2: Merging the train and test for easy implementation of features
train['type'] = 'train'
test['type'] = 'test'
all_data = [train, test]
all_data = pd.concat(all_data)
print 'Step 2 Complete'

Step 2 Complete

In [99]:
# 3: Separate date columns
all_data['year']  = all_data.Date.apply(lambda x: x.split('-')[0])
all_data['year']  = all_data['year'].astype(int)
all_data['month'] = all_data.Date.apply(lambda x: x.split('-')[1])
all_data['month'] = all_data['month'].astype(int)
all_data['day']   = all_data.Date.apply(lambda x: x.split('-')[2])
all_data['day']   = all_data['day'].astype(int)
print 'Step 3 Complete.'

Step 3 Complete.

In [100]:
# 4: Withdraw multiple date features
all_data['Date']             = pd.to_datetime(all_data['Date'])
all_data['day_of_year']      = all_data['Date'].dt.dayofyear
all_data['quarter']          = all_data['Date'].dt.quarter
all_data['is_month_start']   = all_data['Date'].dt.is_month_start.astype(int)
all_data['is_month_end']     = all_data['Date'].dt.is_month_end.astype(int)
all_data['is_quarter_start'] = all_data['Date'].dt.is_quarter_start.astype(int)
all_data['is_quarter_end']   = all_data['Date'].dt.is_quarter_end.astype(int)
all_data['weeknum']          = np.ceil(all_data['day_of_year']/7.)
print 'Step 4 Complete.'

Step 4 Complete.

In [101]:
# 5: Standardize StateHoliday column.
all_data.ix[(all_data['StateHoliday'] == 0), 'StateHoliday'] = '0'
print 'Step 5 Complete.'

Step 5 Complete.

In [102]:
# 6: Setting 'Open' to 0 if Sales are 0
all_data.ix[(all_data['Sales'] == 0), 'Open'] = 0
print 'Step 6 Complete.'

Step 6 Complete.

In [103]:
# 7: Create duration of promo 1
all_data = all_data.sort(columns = ['Store', 'Date'], ascending = True, na_position = 'last')
all_data['PromoFirstDate'] = 0
all_data.ix[((all_data['Store'] == all_data['Store'].shift(1)) &
          (all_data['Promo'] == 1 ) & (all_data['Promo'].shift(1) ==0)),
         'PromoFirstDate'] = 1
print 'Step 7 Complete.'

Step 7 Complete.

In [104]:
# 8: Joining States:
all_data = pd.merge(all_data, states, on = 'Store', how = 'inner')
print 'Step 8 Complete.'

Step 8 Complete.

## Data munging part II: 
### Adding some usefull functions:

In [105]:
# f1: Creating a function to summarize our data
def rstr(df): 
    print df.shape
    print '=' * 72
    print df.apply(lambda x: [x.unique()])
    print '=' * 72
    print pd.isnull(df).any()
print 'function 1: rstr added'

function 1: rstr added

In [106]:
# f2: Creating a function to shift columns and making sure to distinguish between stores
def shift_col(df, col_name, n):
    df[col_name + str(n)] = df[col_name].shift(n)
    df.ix[(df['Store'] != df['Store'].shift(n)), col_name + str(n)] = float('NaN')
print 'function 2: shif_col added'

function 2: shif_col added

In [111]:
# f2.1: Demonstrating what shift_col does:
temp = pd.DataFrame({
        'Sales': [1,2,3,4,5,1,2,3,4,5],
        'Store': [1,1,1,1,1,2,2,2,2,2]
    })
shift_col(temp, 'Sales', 2)
shift_col(temp, 'Sales', -1)
temp

   Sales  Store  Sales2  Sales-1
0      1      1     NaN        2
1      2      1     NaN        3
2      3      1       1        4
3      4      1       2        5
4      5      1       3      NaN
5      1      2     NaN        2
6      2      2     NaN        3
7      3      2       1        4
8      4      2       2        5
9      5      2       3      NaN

## Data munging part III: 
### Adding Schedule and historic Sales

In [113]:
# 9: now we can add previous sales for the past 21 days:
for i in range(1,22):
    shift_col(all_data, 'Sales', i)
print 'Step 9 Complete.'

Step 9 Complete.

In [114]:
# 10: now we can add previous open for the past 21 days:
for i in range(1,22):
    shift_col(all_data, 'Open', i)
print 'Step 10 Complete.'

Step 10 Complete.

In [115]:
# 11: now we can add next open for the past 21 days:
for i in range(1,22):
    shift_col(all_data, 'Sales', -i)
print 'Step 11 Complete.'

Step 11 Complete.

In [131]:
all_data['State'].unique()

array(['HE', 'TH', 'NW', 'BE', 'SN', 'SH', 'HB,NI', 'BY', 'BW', 'RP', 'ST',
       'HH'], dtype=object)